Update-ExecutionPolicy Unrestricted
Set-ExplorerOptions -showHidenFilesFoldersDrives -showProtectedOSFiles -showFileExtensions
Install-WindowsUpdate -getUpdatesFromMS -acceptEula -SuppressReboots

cinst binroot
cinst windowsupdate.disableautorestart
cinst DotNet4.5
cinst silverlight
cinst javaruntime
cinst flashplayerplugin
cinst flashplayeractivex

cinst 7Zip
cinst skype
cinst GoogleChrome
cinst adblockpluschrome
cinst adblockplusie
cinst adblockplusfirefox

cinst dropbox
cinst CrashPlan

cinst vlc
cinst picasa
cinst libreoffice
cinst windirstat
cinst sumatraPDF
cinst spotify
cinst lastpass
cinst thunderbird

cinst malwarebytes
cinst revo.uninstaller
cinst ccleaner
cinst ccenhancer
cinst avastfreeantivirus
cinst avastbrowsercleanup
cinst windowsrepair
cinst driverbooster
cinst systemninja
cinst sumo
