Update-ExecutionPolicy Unrestricted
Set-ExplorerOptions -showHidenFilesFoldersDrives -showProtectedOSFiles -showFileExtensions

cinst binroot
cinst windowsupdate.disableautorestart
Install-WindowsUpdate -getUpdatesFromMS -acceptEula -SuppressReboots
cinst DotNet4.5
cinst silverlight
cinst javaruntime
cinst flashplayerplugin
cinst flashplayeractivex
cinst teamviewer

cinst 7Zip
cinst skype
cinst GoogleChrome
cinst adblockpluschrome
cinst adblockplusie
cinst adblockplusfirefox

cinst dropbox
cinst CrashPlan

cinst vlc
cinst picasa
cinst libreoffice
cinst windirstat
cinst sumatraPDF
cinst spotify
cinst thunderbird

cinst malwarebytes
cinst revo.uninstaller
cinst ccleaner
cinst ccenhancer
cinst windowsrepair
cinst driverbooster
cinst systemninja
cinst sumo

cinst lastpass
cinst avastfreeantivirus
cinst avastbrowsercleanup
